body {
  background: #406B9D;
  font-family: "Roboto Mono", mono;
}

#grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; /* Space between grid cells */
  height: 400px; /* Adjust size as needed */
  margin: 10%;
}

.start-end-time {
  border: 5px solid #2B4F79;
  padding: 2em;
}

.start-end-time input[type="text"] {
  width: 80px;
  margin-right: 2em;
}

.flex {
  display:flex;
  align-items: center;
}

#drop-zone-left, #drop-zone-right {
  height: 60%;
  justify-content: center;
  align-items: center;
}

#drop-zone-left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#drop-zone-right {
  padding: 2em;
}


label {
  margin-right: 5px;
}

button {                    /* Button to be personalized */
  background: #c5c2c2;

}

.time-block {
  width: 2em;
}

#dauer {
  width: 4em;
}


.draggable {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}


#tubes {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  align-items: center;

}

/** tube **/

.tube {
  width: 20px;
  height: 70px;
  background: linear-gradient(
          to bottom,
          white 0%,
          white 40%,
          #eca11a 40%,
          #eca11a 100%);
  border: 3px solid #000;
}
/*https://developer.mozilla.org/en-US/docs/Web/CSS/border-image-slice*/

/** hourglass **/
#hourglass{
  width: 104px;
  margin: 0 auto;
}

#sand{
  margin: 0 auto;
  width: 56px;
  height: 120px;
  position: relative;
  top: -144px;
}

.grain {
  background-color: #000000;
  height: 8px;
  width: 8px;
  position: absolute;
}

.a, .b, .c, .d, .e, .f{
  background-color: #c5c2c2;
  height: 8px;
  margin: 0 auto;
}

.a, .b, .c, .d, .e, .f{
  border-right: 16px solid black;
  border-left: 16px solid black;
}

.a{
  width: 72px;
  border-top: 8px solid black;
  border-bottom: 8px solid black;
}

.b{
  width: 72px;
  height: 32px;
  border-right: 8px solid black;
  border-left: 8px solid black;
}

.c{width: 56px;}
.d{width: 40px;}
.e{width: 24px;}
.f{width: 8px;}

.g1{top: 0px;left: 0px;}
.g2{top: 0px;left: 16px;}
.g3{top: 0px;left: 32px;}
.g4{top: 0px;left: 48px;}
.g5{top: 8px;left: 8px;}
.g6{top: 8px;left: 24px;}
.g7{top: 8px;left: 40px;}
.g8{top: 16px;left: 16px;}
.g9{top: 16px;left: 32px;}
.g10{top: 24px;left: 24px;}
.g11{top: 40px;left: 24px;}
.g12{top: 64px;left: 24px;}
.g13{top: 72px;left: 24px;}

.hide{
  display: none;
}

.moveg1{
  left: 16px;
  top: 112px;
}

.moveg2{
  left: 48px;
  top: 112px;
}

.moveg3{
  top: 112px;
}

.moveg4{
  left: 24px;
  top: 104px;
}

.moveg5{
  top: 112px;
  left: 0px;
}

.moveg6{
  left: 8px;
  top: 104px;
}

.moveg7{
  top: 104px;
}

.moveg8{
  top: 96px;
}

.moveg9{
  top: 96px;
}

.moveg10{
  top: 88px;
}
