body {
  background: #406B9D;
  font-family: "Roboto Mono", mono;
  color: white;
}

#grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; /* Space between grid cells */
  height: 400px; /* Adjust size as needed */
  margin: 10%;
}

.start-end-time {
  border: 5px solid #2B4F79;
  padding: 2em;
}

.start-end-time input[type="text"] {
  width: 50px;
  margin-right: 2em;
  background: #406B9D;
  border: solid 3px #2B4F79;
  padding: 5px 10px;
  color: white;
}

.flex {
  display:flex;
  align-items: center;
}

#stop {
  background: #EA0A0A;
  border: solid 3px #BE1619;
  outline: solid 3px #000000;
  padding: 5px 10px;
}

#drop-zone-left, #drop-zone-right {
  height: 60%;
  justify-content: center;
  align-items: center;
}

#drop-zone-right {
  padding: 2em;
}

.draggable {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

#tubes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

/** duration **/
.duration_group {
  justify-content: center;
  gap: 10px;
}

#duration {
  width: 4em;
  background: #406B9D;
  border: solid 2px #BF8A00;
  padding: 5px 10px;
  color: white;
}

#plus, #minus {
  background: #eca11a;
  border: solid 3px #BF8A00 ;
  width: 30px;
  height: 30px;
  font-size: 1.2em;
}

/** tube **/
.tube {
  width: 20px;
  height: 70px;
  background: linear-gradient(
          to bottom,
          #406B9D 0%,
          #406B9D 40%,
          #eca11a 40%,
          #eca11a 100%);
  border: 3px solid #000;
}
/*https://developer.mozilla.org/en-US/docs/Web/CSS/border-image-slice*/

/** hourglass **/
#hourglass{
  width: 104px;
  margin: 0 auto;
  transform-origin: center center;
}

#container {
  transform-origin: center center;
  height: 177px;
 }

#sand{
  margin: 0 auto;
  width: 56px;
  height: 120px;
  position: relative;
  top: -144px;
}

.grain {
  background-color: #eca11a;
  height: 8px;
  width: 8px;
  position: absolute;
}

.a, .b, .c, .d, .e, .f{
  background-color: #406B9D;
  height: 8px;
  margin: 0 auto;
}

.a, .b, .c, .d, .e, .f{
  border-right: 16px solid black;
  border-left: 16px solid black;
}

.a{
  width: 72px;
  border-top: 8px solid black;
  border-bottom: 8px solid black;
}

.b{
  width: 72px;
  height: 32px;
  border-right: 8px solid black;
  border-left: 8px solid black;
}

.c{width: 56px;}
.d{width: 40px;}
.e{width: 24px;}
.f{width: 8px;}

.g1{top: 0px;left: 0px;}
.g2{top: 0px;left: 16px;}
.g3{top: 0px;left: 32px;}
.g4{top: 0px;left: 48px;}
.g5{top: 8px;left: 8px;}
.g6{top: 8px;left: 24px;}
.g7{top: 8px;left: 40px;}
.g8{top: 16px;left: 16px;}
.g9{top: 16px;left: 32px;}
.g10{top: 24px;left: 24px;}
.g11{top: 40px;left: 24px;}
.g12{top: 64px;left: 24px;}
.g13{top: 72px;left: 24px;}

.hide{
  display: none;
}

.moveg1{
  left: 16px;
  top: 112px;
}

.moveg2{
  left: 48px;
  top: 112px;
}

.moveg3{
  top: 112px;
}

.moveg4{
  left: 24px;
  top: 104px;
}

.moveg5{
  top: 112px;
  left: 0px;
}

.moveg6{
  left: 8px;
  top: 104px;
}

.moveg7{
  top: 104px;
}

.moveg8{
  top: 96px;
}

.moveg9{
  top: 96px;
}

.moveg10{
  top: 88px;
}
