#grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px; /* Space between grid cells */
  height: 400px; /* Adjust size as needed */
  margin: 10%;
}

#grid section {
  text-align: center;
}

.start-end-time {
  border: 1px solid black;
  background-color: rgb(185, 208, 208);
  padding: 1em;
}

.sanduhr-bild {
  width: 5em; /* Adjust size as needed */
  transition: transform 0.5s ease;
  transform: rotate(0deg)
}

#drop-zone-left, #drop-zone-right {
  height: 60%;
  justify-content: center;
  align-items: center;
}

#drop-zone-left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#drop-zone-right {
  padding: 3em;
}


label {
  margin-right: 5px;
}

.time-block {
  width: 2em;
}

#dauer {
  width: 4em;
}

.draggable {
  display: flex;
  flex-direction: column;
  align-items: center;
}
